[submodule "environments/development/modules/puppetlabs-stdlib"]
	path = environments/development/modules/puppetlabs-stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib
[submodule "environments/development/modules/docker"]
	path = environments/development/modules/docker
	url = https://github.com/garethr/garethr-docker.git
